$color-white: #fff;
$color-bg: #cccccc;
$color-green-lite: #2f956d;
$color-green-dark: #1d6e46;
$color-tm-name: #3bb0d7;
$color-blue-lite: #30759c;
$color-blue-dark: #1b6f96;
$color-desc: #626364;
$color-pink-lite: #f6bdd0;
$color-pink-dark: #cc3399;
$color-red-lite: #993332;
$color-red-dark: #752423;
$color-readmore: #98999a;
$color-grey: #777;
