$color-white: #fff;
$color-bg: #CCCCCC;
$color-green-lite: #2F956D;
$color-green-dark: #1D6E46;
$color-blue-lite: #30759C;
$color-blue-dark: #1B6F96;
$color-desc: #626364;
$color-pink-lite: #F6BDD0;
$color-pink-dark: #CC3399;
$color-red-lite: #993332;
$color-red-dark: #752423;
$color-readmore: #98999A;