*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  background-color: #CCCCCC; }

.btn {
  display: inline-block;
  font-size: 1.5rem;
  width: auto;
  padding: 1rem 3rem;
  text-decoration: none;
  cursor: pointer;
  border: 0; }

a {
  text-decoration: none; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.anim {
  transition: all .3s; }

.btn-blue {
  background: #2F956D; }

.btn-blue:hover {
  background: #1D6E46; }

.btn-green-lite {
  border: 0.1rem solid #2F956D;
  color: #2F956D; }

.btn-green-lite:hover {
  color: #fff;
  background-color: #2F956D; }

.btn-red {
  background: #993332;
  color: #fff; }

.btn-red:hover {
  background: #752423; }

.btn-readmore {
  background: #fff; }

.btn-readmore:hover {
  background: #98999A; }

.btn-green-lite-active {
  background: #2F956D;
  color: #fff; }

.btn-green-dark {
  background: #1D6E46;
  color: white; }

.btn-green-dark:hover {
  background: #2F956D;
  color: #fff; }

.btn-blue-dark {
  background: #1B6F96;
  color: #fff; }

.btn-blue-dark:hover {
  background: #30759C;
  color: #fff; }

/* Footer part Start*/
footer {
  color: #626364;
  padding: 3rem 0; }

/* Footer part End*/
.container {
  width: 120rem;
  margin: 0 auto;
  background: #fff; }

.heading-text {
  padding: 5rem 0;
  text-align: center; }
  .heading-text h2 {
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 30px; }
  .heading-text p {
    color: #626364;
    line-height: 2;
    margin-bottom: 5rem; }

/* Section-1 Start*/
.section-1 {
  width: 120rem;
  height: 40.6rem; }
  .section-1 header {
    width: 120rem;
    height: 40.6rem;
    background-image: url(img/simple-house-01.jpg);
    background-repeat: no-repeat;
    background-position: center -40rem;
    background-attachment: fixed; }
    .section-1 header nav {
      color: #fff;
      display: flex;
      justify-content: space-between;
      padding: 0 8rem;
      padding-top: 30rem; }
      .section-1 header nav .logo-part {
        display: flex;
        margin: auto 0; }
        .section-1 header nav .logo-part .logo img {
          height: 5rem; }
        .section-1 header nav .logo-part .title {
          padding-left: 2rem; }
          .section-1 header nav .logo-part .title h1 {
            font-size: 4rem;
            font-weight: 300; }
      .section-1 header nav .nav-item {
        margin: auto 0; }
        .section-1 header nav .nav-item a {
          color: #fff;
          padding: 0 2rem;
          position: relative; }
          .section-1 header nav .nav-item a:nth-child(2):hover::after, .section-1 header nav .nav-item a:nth-child(3):hover::after {
            content: "";
            position: absolute;
            height: .15rem;
            width: 7rem;
            bottom: -1rem;
            left: 1.1rem;
            background: #fff; }
          .section-1 header nav .nav-item a:nth-child(3):hover::after {
            width: 8rem;
            bottom: -1rem;
            left: 1.3rem; }
        .section-1 header nav .nav-item .active::after {
          content: "";
          position: absolute;
          height: .15rem;
          width: 7rem;
          bottom: -1rem;
          left: 1.1rem;
          background: #fff; }

/* Section-1 End*/
/* Section-2 Start*/
.section-2 .post .menu {
  display: block;
  margin-bottom: 7rem; }
  .section-2 .post .menu a {
    font-size: 1.8rem; }

.section-2 .post .posts {
  margin: 0 2rem; }
  .section-2 .post .posts .row {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    justify-content: space-around;
    margin-bottom: 3rem; }
    .section-2 .post .posts .row .item img {
      max-width: 100%;
      height: auto; }
    .section-2 .post .posts .row .item h3 {
      color: #30759C;
      font-weight: 400;
      padding: 1.3rem 0; }
    .section-2 .post .posts .row .item p {
      line-height: 1.8;
      color: #626364;
      margin-bottom: 2rem; }
    .section-2 .post .posts .row .item span {
      display: block;
      color: #2F956D;
      padding-bottom: 3rem; }

/* Section-2 End*/
/* Section-3 Start*/
.section-3 .row {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(1, auto);
  grid-gap: 1rem;
  padding-bottom: 5rem; }
  .section-3 .row .left-part {
    width: 80%; }
    .section-3 .row .left-part img {
      height: 30rem;
      width: 50rem;
      margin-left: 5rem; }
  .section-3 .row .right-part {
    width: 100%;
    margin-left: -10rem; }
    .section-3 .row .right-part h3 {
      color: #30759C;
      font-size: 3rem;
      font-weight: 400;
      padding: 2rem 0; }
    .section-3 .row .right-part p {
      color: #98999A;
      line-height: 1.6; }
    .section-3 .row .right-part .more {
      margin: 2rem 10rem 0 0; }
      .section-3 .row .right-part .more button {
        font-size: 1.5rem;
        border: 0.15rem solid #98999A;
        color: #98999A; }
        .section-3 .row .right-part .more button:hover {
          color: #fff;
          background-color: #98999A; }

/* Section-3 End*/
/*ABOUT SECTION-1 START*/
.about__post {
  padding: 0 4.5rem;
  margin-top: -4rem; }
  .about__post__long-img {
    height: 30rem; }

.about-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6rem; }

.about-item {
  display: flex;
  flex: 1; }
  .about-item:not(:last-child) {
    margin-right: 4rem; }
  .about-item__left-part {
    margin-right: 3rem; }
  .about-item__right-part h2 {
    font-size: 3rem;
    font-weight: 400;
    color: #1B6F96;
    letter-spacing: 1px;
    margin-bottom: 1rem; }
  .about-item__right-part h3 {
    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: 400;
    margin-bottom: 3rem;
    color: #CC3399; }
  .about-item__right-part p {
    font-weight: 300;
    font-size: 1.75rem; }

.icon-font {
  margin-top: 3rem; }

.icon-list {
  display: flex;
  list-style: none; }
  .icon-list__icon-link:not(:last-child) {
    margin-right: 2rem; }
  .icon-list__icon-photo {
    height: 2.5rem;
    width: 2.5rem; }

/*ABOUT SECTION-3 // This is section-2*/
.section-3 {
  padding: 0 3.5rem;
  margin-top: 3rem; }
  .section-3__long-img {
    background-image: url(img/about-05.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: content;
    background-attachment: fixed;
    height: 25rem; }

/*ABOUT SECTION-2 //This is section-3*/
.section-2 {
  padding: 4rem 7rem 2rem;
  margin-top: 3rem; }
  .section-2__row {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .section-2__row-item {
      color: #777; }
      .section-2__row-item:not(:last-child) {
        margin-right: 4rem; }
    .section-2__row-feature-description {
      margin-bottom: 3rem; }

/*ABOUT SECTION-4*/
.section-4 {
  padding: 0 3.5rem;
  padding-top: 3rem;
  margin-top: 3rem; }
  .section-4-row {
    display: flex;
    align-items: center; }
    .section-4-row__left-part {
      height: 100%;
      margin-right: 3rem; }
    .section-4-row__right-part {
      flex: 0 0 50%; }
      .section-4-row__right-part-heading {
        margin-bottom: 2.5rem;
        font-size: 3rem;
        font-weight: 400;
        color: #30759C; }
      .section-4-row__right-part-paragraph-1, .section-4-row__right-part-paragraph-2 {
        margin-bottom: 2.5rem;
        font-weight: 400;
        line-height: 27px;
        color: #777; }
