.btn-blue{
    background: $color-green-lite;
}
.btn-blue:hover{
    background: $color-green-dark;
}
.btn-green{
    background: $color-green-lite;
}
.btn-green:hover{
    background: $color-green-dark;
}
.btn-red{
    background: $color-red-lite;
}
.btn-red:hover{
    background: $color-red-dark;
}
.btn-readmore{
    background: $color-white;
}
.btn-readmore:hover{
    background: $color-readmore;
}