.container{
    width: 1200px;
    margin: 0 auto;
    background: $color-white;
}
/* Section-1 Start*/

/* Section-1 End*/

/* Section-2 Start*/

/* Section-2 End*/

/* Section-3 Start*/

/* Section-3 End*/